
.forms{
    background: linear-gradient(to top left, #A4A9D5, #8350E0);
    background: -webkit-linear-gradient(to top left, #A4A9D5, #8350E0);
    background: -moz-linear-gradient(to top left, #A4A9D5, #8350E0);
    z-index: 2;
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 120px;
    width: 100%;
}


.input {
    color: black;
    background-color: #d183f0;
    margin-right: 10px;
    margin-left: 20px;
    height: 25px;
    width: 250px;
    border: 1px solid white
}
.input::placeholder {
    color: white
}

.submit{
    background-color: gray;
    text-align: center;
    width: max-content;
    border: 1px solid black;
    padding-right: 16px;
}
.submit:hover{ 
    background-color: rgb(49, 45, 45);
    cursor: pointer;
    color: white; 
    border: 1px solid gray
}

#dogSearch{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#dinamicFilter{
    display: flex;
}

#selectTemperament{
    display: flex;
    flex-direction: column;

    align-items: center;
    padding: auto;
}

/* Esto es de mi select list */
.selectList{
    padding: auto;
    margin: 10px;

}
#inverseButton{
    transform: rotate(180deg);
}

.buttonsContainer{
    display: flex;
    flex-direction: column-reverse;
    align-self: center;
    justify-content: center;
}
#navigationButtonContainer{
    display: flex;
    justify-content: center;
}
.buttonNav:hover{
    cursor: pointer;
    background-color: #8350E0;
}

#loader{
    position: absolute;
    top: 18%;
    left: 36%;
    background-color: transparent;
}

/*RESPONSIVE*/
@media screen and (max-width: 1200px) {
    .forms{
        z-index: 2;
        top: 0px;
        display: flex;
        flex-wrap: wrap;
        height: 150px;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        padding-top: 40px;
        padding-right: 50px;
    }

    .buttonsContainer{
        margin-top: -100px;
    }
    .container2{
        margin-top: 200px;
        width: 100%;
        justify-content: center;
    }
    #loader{
        margin-top: 150px;
    }
}

@media screen and (max-width: 1000px) {
    .container2{
        margin-top: 200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 930px) {
    .forms{
        z-index: 2;
        top: 0px;
        display: flex;
        flex-wrap: wrap;
        height: 150px;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        padding-top: 40px;
        padding-right: 100px;
    }

    .buttonsContainer{
        margin-top: 20px;
        margin-left: 30px;
    }
    .container2{
        margin-top: 200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #selectTemperament{
        margin: 10px
    }
    #loader{
        margin-top: 150px;
    }
}

@media screen and (max-width: 720px) {
    .forms{
        z-index: 2;
        top: 0px;
        display: flex;
        flex-wrap: wrap;
        height: 100px;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        padding-top: 10px;
        padding-right: 0px;
    }
    #loader{
        margin-top: 80px;
    }
    .buttonNav{
        width: max-content;
        height: max-content;
    }
    .navigationButton{
        margin-top: 8px;
        width: 25px;
        height: 25px;
    }
    #dogSearch{
        margin-left: -60px;
        padding: 0px;
        transform: scale(.5);
        width: 100px;
    }
    #dinamicFilter{
        transform: scale(.5);
        width: 100px;
        margin-left: 70px;
        padding: 0px;
    }
    #selectTemperament{
        transform: scale(.5);
        padding: 0px;
        margin-top: -10px;
    }
    .buttonsContainer{
        display: flex;
        flex-direction: row;
        transform: scale(.5);
        position: absolute;
        padding: 0px;
        top: 50px;
        margin-left: -10px;
    }
    .container2{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (max-width: 620px) {
    .forms{
        z-index: 2;
        top: 0px;
        display: flex;
        flex-wrap: wrap;
        height: 100px;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        padding-top: 10px;
        padding-right: 0px;
    }
    #loader{
        margin-top: 10px;
        transform: scale(.3);
    }
    #dogSearch{
        margin-left: -60px;
        padding: 0px;
        transform: scale(.5);
        width: 100px;
    }
    #dinamicFilter{
        transform: scale(.5);
        width: 100px;
        margin-left: 70px;
        padding: 0px;
    }
    #selectTemperament{
        transform: scale(.5);
        
        padding: 0px;
    }
    .buttonsContainer{
        display: flex;
        flex-direction: row;
        transform: scale(.5);
        position: absolute;
        padding: 0px;
        top: 50px;
        margin-left: -10px;
    }
    .container2{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}