.container{
    width: 100%;
    padding: 15px 5px 0px 5px; 
    border-radius: 10px;
    background-color: whitesmoke;
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category{
    width: 100px;
    margin-top: 20px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.category:hover{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.category2{
    width: 100%;
    margin-top: 20px;
    text-align: center;
    height: 30px;
    border-top: 1px solid white;
}

.contact {
    color: black;
}

.logos{
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.contact:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 1200px) {
    .container{
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .category{
        margin-top: 0px;
    }
    .logos{
        display: flex;
        flex-direction: row;
        
    }
    .logo{
        width: 20px;
        height: 20px;
    }
    .logo2{
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 600px) {
    .container{
        width: 100%;
        height: max-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .category{
        margin-top: 0px;
        font-size: 10px;
    }
    .logos{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .logo{
        width: 10px;
        height: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .logo2{
        width: 10px;
        height: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }
}