#footer {
    /* position: absolute; */
    width: 100%;
    height: max-content;
    background-color:  rgb(107, 200, 210);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: black
}
.logo:hover{
    background-color: gray;
    border-radius: 20px;
}
.logo2:hover {
    background-color: gray;
    border-radius: 10px;
}

@media screen and (max-width: 500px) {
    #footer{
       height: max-content;
       width: 100%;
    }
    .logo{
        transform: scale(.8);
    }
    .logo2{
        transform: scale(.8);
    }
}