.container {
    height: 100vh;
    background-image: url(https://wallpaperaccess.com/full/494652.jpg);
}

.favoriteDog{
    background-color: aqua;
    width: auto;
    height: 20%;
    margin: 20px;
    border: 2px red ridge;
    display: flex;
    flex-direction: column;
    padding: auto;
}