@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body{
    background: rgb(190, 216, 205);
}
.container{
    height: 100vh;
    width: 100%;
    background: rgb(190, 216, 205);
}
.background{
    width: max-content;
    position: absolute;
    top: 150px;
    left: 100px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    
}

.title{
    color: #15133C;
    width: 70%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    font-family: 'Koulen', cursive;
    font-size: 50px;
    border: 4px inset #FFE69A;
}

.text {
    border: 4px double rgb(255, 251, 6);
    color: #FF4949;
    width: 30%;
    margin: auto;
    margin-right: 120px;
    margin-top: 100px;
    font-family: 'Satisfy', cursive;
    font-size: 40px;
    text-align: center
}

#start{
    width: 60%;
    margin: auto;
    /* =================================== */
    margin-top: 40px;
    display: flex;
    flex-direction: column;  
    align-items: flex-end;
    height: 200px;

    
}
#footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
#fingerprint:hover{
    border-radius: 70px;
    animation: changeColor .3s forwards;
    background-color: red;
}
@keyframes changeColor {
    0%{
        background-color: transparent; 
    } 
    20%{ background-color: rgba(236, 0, 0, 0.200);}
    40%{ background-color: rgba(236, 0, 0, 0.400);}
    60%{ background-color: rgba(236, 0, 0, 0.600);}
    80% {
        background-color: rgba(236, 0, 0, 0.800);
    }
    100%{
        background-color: red
    }
}


@media screen and (max-width: 500px) {
  
    .container{
        width:  100%;
        height: max-content;
        font-size: 10px;
    }
    .title{
        color: #15133C;
        width: 70%;
        margin: auto;
        margin-top: 10px;
        text-align: center;
        font-family: 'Koulen', cursive;
        font-size: 20px;
    }
    
    .text {
        width: 70%;
        margin: auto;
        margin-top: 50px;
        font-size: 20px;
    }
    .background{
        width: max-content;
        position: absolute;
        top: 150px;
        left: 0px;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }
    #dogIMG{
        transform: scale(.8);
        position: absolute;
        background-color: white;
        display: block;
    }
    #start{
        width: 100%;
        margin: auto;
        /* =================================== */
        margin-top: 350px;
        display: flex;
        flex-direction: column;  
        align-items: center;
        
    }

}